---
import PencilIcon from './PencilIcon.astro';
import ThemeToggleButton from './ThemeToggleButton';

type Props = {
	editHref: string;
};

const { editHref } = Astro.props as Props;
---

<ul>
	{editHref && (
		<li class={`heading-link depth-2`}>
			<a class="edit-on-github" href={editHref} target="_blank">
				<PencilIcon />
				<span>수정 제안하기</span>
			</a>
		</li>
	)}
	<div class="w-48 text-center flex justify-end mt-2">
		<ThemeToggleButton client:visible />
	</div>
</ul>


<style>
	.edit-on-github {
		text-decoration: none;
		font: inherit;
		color: inherit;
		font-size: 1rem;
	}
</style>
