---
import PencilIcon from './PencilIcon.astro';
import ThemeToggleButton from './ThemeToggleButton';

type Props = {
	editHref: string;
};

const { editHref } = Astro.props as Props;
---

<ul>
	{editHref && (
		<li class={`heading-link depth-2`}>
			<a class="edit-on-github" href={editHref} target="_blank">
				<PencilIcon />
				<span>수정 제안하기</span>
			</a>
		</li>
	)}
</ul>
<div style="margin: 2rem 0; text-align: center;">
	<ThemeToggleButton client:visible />
</div>

<style>
	.edit-on-github {
		text-decoration: none;
		font: inherit;
		color: inherit;
		font-size: 1rem;
	}
</style>
