---
import PencilIcon from './PencilIcon.astro';
import ThemeToggleButton from './ThemeToggleButton';

type Props = {
	editHref: string;
};

const { editHref } = Astro.props as Props;
---

<script>
	function getTheme(){
		if (import.meta.env.SSR) {
      return undefined;
    }
    if (typeof localStorage !== undefined && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
	}
	const root = document.documentElement;
	if (getTheme() === "light") {
		root.classList.remove("theme-dark");
		root.setAttribute('data-theme', "bumblebee")
	} else {
		root.classList.add("theme-dark");
		root.setAttribute('data-theme', "halloween")
	}
</script>

<ul>
	{editHref && (
		<li class={`heading-link depth-2`}>
			<a class="edit-on-github" href={editHref} target="_blank">
				<PencilIcon />
				<span>수정 제안하기</span>
			</a>
		</li>
	)}
	<div class="w-48 text-center flex justify-end mt-2">
		<ThemeToggleButton client:load />
	</div>
</ul>


<style>
	.edit-on-github {
		text-decoration: none;
		font: inherit;
		color: inherit;
		font-size: 1rem;
	}
</style>
