---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import * as CONFIG from '../config';
import type { MarkdownHeading } from 'astro';

type Props = {
	frontmatter: CONFIG.Frontmatter;
	headings: MarkdownHeading[];
};

const { frontmatter } = Astro.props as Props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html dir={frontmatter.dir ?? 'ltr'} lang={frontmatter.lang ?? 'en-us'} class="initial" data-theme="bumblebee">
	<head>
		<HeadCommon />
		<HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} />
		<link rel="me" href="https://dice.camp/@stelo" />
		<title>
			{frontmatter.title ? `${frontmatter.title} 🚀 ${CONFIG.SITE.title}` : CONFIG.SITE.title}
		</title>
	</head>

	<body>
		<main class="flex flex-col w-full h-fit max-w-6xl mx-auto">
			<slot />
		</main>
	</body>
</html>